In [3]:
fruits = ['apple','banana','cherry']
print('apple' in fruits)
print('Banana' in fruits)

True
False

In [5]:
f = ['apple','banana','cherry']

fruits = f

In [8]:
x = 10
y = 10 
print(x == y)
print (x is y)

True
True

In [4]:
name = input("enter your name: ")

In [5]:
city = input("enter your city: ")
age = input('enter your age:')
print(name,city,age)

arham dubai 15

In [14]:
x=10
print(type(x))
#convert to float
x=float(x)
print(x,type(x))
#convert to bool
x=bool (x)
print(x,type(x))
#convert to string
x=str(x)
print(x,type(x))

<class 'int'>
10.0 <class 'float'>
True <class 'bool'>
True <class 'str'>

In [6]:
x=int (input("enter a number for a:"))
y=int (input("enter a number for b: "))
print (x+y)

27

In [7]:
print('name: ',name,'\n','age: ',age,'\n','city:',city)

name:  arham
 age:  15
 city: dubai

In [8]:
print(name,age,city, sep='\n')

arham
15
dubai

In [11]:
print(x,end=' ')
print(y)

7 20

In [12]:
f'i live in {city}'

'i live in dubai'

In [13]:
print(f'x={x}, y={y}')
print(f'x**y = {x**y}')

x=7, y=20
x**y = 79792266297612001

In [14]:
print(f'{name} {len(name)}')
print(f'{city} {len(city)}')

arham 5
dubai 5

In [17]:
print(f'{name:15} {len(name)}')
print(f'{city:10} {len(city)}')

arham           5
dubai      5