In [3]:
fruits = ['apple','banana','cherry']
print('apple' in fruits)
print('Apple' in fruits)

True
False

In [5]:
f = ['apple','banana','cherry']

fruits = f

In [8]:
x = 10
y = 10 
print(x == y)
print (x is y)

True
True

In [9]:
name = input("enter your name: ")

In [10]:
city = input("enter your city: ")
age = input('enter your age:')
print(name,city,age)

ali lucknow 21

In [14]:
x=10
print(type(x))
#convert to float
x=float(x)
print(x,type(x))
#convert to bool
x=bool (x)
print(x,type(x))
#convert to string
x=str(x)
print(x,type(x))

<class 'int'>
10.0 <class 'float'>
True <class 'bool'>
True <class 'str'>

In [15]:
x=int (input("enter a number for a:"))
y=int (input("enter a number for b: "))
print (x+y)

17

In [16]:
print('name: ',name,'\n','age: ',age,'\n','city:',city)

name:  ali
 age:  21
 city: lucknow

In [17]:
print(name,age,city, sep='\n')

ali
21
lucknow

In [22]:
print(x,end=' ')
print(y)

12 5

In [24]:
f'i live in {city}'

'i live in lucknow'

In [25]:
print(f'x={x}, y={y}')
print(f'x**y = {x**y}')

x=12, y=5
x**y = 248832

In [26]:
print(f'{name} {len(name)}')
print(f'{city} {len(city)}')

ali 3
lucknow 7

In [27]:
print(f'{name:15} {len(name)}')
print(f'{city:15} {len(city)}')

ali             3
lucknow         7