In [3]:
raju={'eng':90,'mat': 88,'comp':99}
print(raju)

{'eng': 90, 'mat': 88, 'comp': 99}

In [5]:
company={
    'employee': {
        'name': "ali",
        'designation': 'manager',
        'salary': 250000,
    },
    'employee2':{
        'name': 'saud',
        'designation': 'chaprasi',
        'salary': '100'

    } ,
    'total_emp':2,
    'dep': 'accounts',
    'vacancy':['clerk','assitants']
}

In [7]:
company['name']= 'bit'
print(company)

{'employee': {'name': 'ali', 'designation': 'manager', 'salary': 250000}, 'employee2': {'name': 'saud', 'designation': 'chaprasi', 'salary': '100'}, 'total_emp': 2, 'dep': 'accounts', 'vacancy': ['clerk', 'assitants'], 'name': 'bit'}

In [8]:
company['total_emp']=3
print(company)

{'employee': {'name': 'ali', 'designation': 'manager', 'salary': 250000}, 'employee2': {'name': 'saud', 'designation': 'chaprasi', 'salary': '100'}, 'total_emp': 3, 'dep': 'accounts', 'vacancy': ['clerk', 'assitants'], 'name': 'bit'}

In [9]:
company

{'employee': {'name': 'ali', 'designation': 'manager', 'salary': 250000},
 'employee2': {'name': 'saud', 'designation': 'chaprasi', 'salary': '100'},
 'total_emp': 3,
 'dep': 'accounts',
 'vacancy': ['clerk', 'assitants'],
 'name': 'bit'}

In [10]:
company['employee']

{'name': 'ali', 'designation': 'manager', 'salary': 250000}

In [11]:
if 'name' in company:
    print('name exists in dict')

name exists in dict

In [14]:
for i in company:
    print (company[i])

{'name': 'ali', 'designation': 'manager', 'salary': 250000}
{'name': 'saud', 'designation': 'chaprasi', 'salary': '100'}
3
accounts
['clerk', 'assitants']
bit

In [15]:
for k,v in company.items():
    print(k,v)

employee {'name': 'ali', 'designation': 'manager', 'salary': 250000}
employee2 {'name': 'saud', 'designation': 'chaprasi', 'salary': '100'}
total_emp 3
dep accounts
vacancy ['clerk', 'assitants']
name bit

In [16]:
for k,v in company.items():
    if isinstance(v,dict):
        print(k)
        for key,val in v.items():
            print('--->',key,val)
    else:
        print(k,v)

employee
---> name ali
---> designation manager
---> salary 250000
employee2
---> name saud
---> designation chaprasi
---> salary 100
total_emp 3
dep accounts
vacancy ['clerk', 'assitants']
name bit

wap to create a dict which takes user input and stores the name of item and its price